*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 480px;
    width: 780px;
    border: 3px solid black;
    overflow: hidden;
    border-radius: 40px;
}
.container .register{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 2s;
}
.container .active.register{
    position: relative;
    top: -480px;
}


.container .signin{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .active.signin{
    position: relative;
    top: -480px;
}
form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
input{
    background-color: #eee;
    border: none;
    margin: 9px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
button{
    /* background-color: #eee; */
    border: none;
    margin: 9px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 70%;
    outline: none;
}